footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 112px;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .2);
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
        text-decoration: none;
        color: gray;
    }
}

.licenses {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo-container {
    height: 80px;
}

.logo-container img {
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1050px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 8px;
    }
}