<div class="contact-headline">
    <h2>Contact me</h2>
</div>
<div class="contact-text">
    <span>Get in touch with me by using the form below or by emailing me <a
            href="mailto:contact@olivermaender.de">contact&#64;olivermaender.de</a></span>
</div>
<div class="contact-form-container">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate class="contact-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input name="name" ngModel #name="ngModel" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input type="email" name="email" ngModel #email="ngModel" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea name="message" ngModel #message="ngModel" matInput matTextareaAutosize matAutosizeMinRows=10
                required></textarea>
        </mat-form-field>
        <div class="submit-btn">
            <button mat-flat-button color="primary">Send</button>
        </div>
    </form>
</div>