.section-container {
    position: relative;
    padding-top: 80px;
    height: 100%;
    // background-image: url('/assets/img/first-section.jpg');
    // background-position: 50% 100%;
    // background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 100%;
    }
}

.text-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    position: absolute;
    max-width: 400px;
    right: 0;
    bottom: 40%;
    color: white;
    margin-left: 64px;
    margin-right: 64px;

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        // margin-bottom: 64px;
    }

    span {
        font-size: 18px;
        max-width: 400px;
    }
}

.read-more {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.read-more-rel {
    position: relative;
    left: -50%;

    a {
        :hover {
            transition: transform 225ms ease-in-out;
            transform: scale(1.2);
        }
    }
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.hide-overflow {
    overflow: hidden;
}

@media (max-width: 1050px) {
    .section-container {
        height: auto;
        min-height: 100%;
    }

    .image-container {
        height: auto;
        max-height: 100%;
    }

    .text-container {
        position: static;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 8px;
        margin-right: 8px;
        color: black;
    }

    .read-more {
        position: static;
    }

    .read-more-rel {
        position: static;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

// @media (max-width: 1050px) and (orientation: landscape) {
//     .section-container {
//         height: auto;
//     }
// }